{% extends 'base.html' %}

{% block title %}Cours |{% endblock %}

{% block content %}
    <p><a href="/courses/add">Ajouter un cours</a></p>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <th>Sujet</th>
            <th>Jour</th>
            <th>Heure de début</th>
            <th>Heure de fin</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.topic }}</td>
                    <td>{{ course.dayOfTheWeek }}</td>
                    <td>{{ course.startTime }}</td>
                    <td>{{ course.endTime }}</td>
                    <td class="text-right">
                        <a href="{{ course.id }}"><i class="fa fa-eye"></i></a> |
                        <a href="{{ course.id }}/edit"><i class="fa fa-edit"></i></a> |
                        <a href="{{ course.id }}/delete" onclick="return confirm('Voulez-vous vraiment supprimer l\'url {{ course.url }}?');"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}