{% extends 'base.html' %}

{% block title %}Ressources |{% endblock %}

{% block content %}
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <th>Sujet</th>
            <th>Jour</th>
            <th>Heure de début</th>
            <th>Heure de fin</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ course.topic }}</td>
                <td>{{ course.dayOfTheWeek }}</td>
                <td>{{ course.startTime }}</td>
                <td>{{ course.endTime }}</td>
                <td class="text-right">
                    <a href="edit"><i class="fa fa-edit"></i></a> |
                    <a href="delete" onclick="return confirm('Voulez-vous vraiment supprimer le cours {{ course.topic }}?');"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}