{% extends "base.html" %}
{% block content %}
  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">User id</th>
                <th scope="col">Page</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              {% for visit in visits %}
              <tr>
                <td>{{visit.user_id}}</td>
                <td>{{visit.page}}</td>
                <td>{{visit.date}}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
        <div class="col-sm">
          <img src="data:image/png;base64,{{overtime_graph}}" alt="error" width=500 height=auto />
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-sm">
          <img src="data:image/png;base64,{{graph}}" alt="error" width=500 height=auto />
        </div>

        <div class="col-sm">

          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Section</th>
                <th scope="col">Visites</th>
              </tr>
            </thead>
            <tbody>
              {% for visits_by_section in visits_by_sections %}
              <tr>
                <td><a href="{% url 'dashboard:section_stats' section_name=visits_by_section.section %}">{{visits_by_section.section}}</a></td>
                <td>{{visits_by_section.visits}}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
      </div>


    </div>
  </div>
{% endblock content %}
