{% extends "base.html" %}
{% block content %}
  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Section</th>
                <th scope="col">Visites</th>
                <th scope="col">Visites uniques</th>
              </tr>
            </thead>
            <tbody>
              {% for visits_by_page in visits_by_pages %}
              <tr>
                <td>{{visits_by_page.page}}</td>
                <td>{{visits_by_page.visits}}</td>
                <td>{{visits_by_page.unique_visits}}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>

        <div class="col-sm">
          <img src="data:image/png;base64,{{graph}}" alt="error" width=500 height=auto />
        </div>
      </div>

    </div>
  </div>
{% endblock content %}
