<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} Django Music</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
    <script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>  
  </head>
  <body>
  <header>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Django music</a> 
      {% if user.is_authenticated %}
        <ul class="navbar navbar-right"> 
          <li class="liste-style-none">
            <a href="/accounts/logout/">logout</a>
          </li>
      {% else %}
          <li>
            <a href="/register">register</a> or <a href="/accounts/login">login</a> 
          </li>
        </ul> 
      {% endif %}
    </nav>
  </header>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2 page-title">Lessons of the day</h1>
          <hr class="mt-0 mb-4">
           {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'js/main.js' %}"></script> 
</html>